html{
  scroll-behavior: smooth;
}
html,
body,
header,
#intro {
  height: 100%;
}
#intro {
  background: url("https://www.beautycolorcode.com/3e4551-2880x1800.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg{
  background-color: #3E4551;
  color: #FFFFFF;
}

.pad_section{
  padding-top: 100px;
}
.wow {
  visibility: hidden;
}
