html {
  font-size: 10px;
}
body {
  color: #fff;
  height: 100%;
  background: #333641;
}
body {
  align-items: center;
  justify-content: center;
}
.b_inset{
  border-style: inset;
}
h1 {
  font-size: 5rem;
  text-transform: capitalize;
  text-shadow: 4px 4px 5px red;
  text-align: center
}

h3 {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline overline;
  text-align: center
}

p {
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
}
div {
  font-size: 2.5rem;
  margin: auto;
  border: 1px solid red;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
.padded_div{
  padding-top: 20%;
  padding-right: 40%;
  padding-bottom: 20%;
  padding-left: 40%;
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}